@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:ital,wght@0,400;1,700&family=Source+Sans+Pro:ital,wght@0,700;1,400&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
	body {
		@apply font-sansSerif;
	}

	svg{
		@apply fill-current;
	}
	
}

@layer components {

	.invoice-table{
		@apply grid grid-cols-invoiceTable grid grid-cols-invoiceTable gap-4 px-6 mb-3 w-full;
	}
}

@layer utilities{
	.center{
		@apply flex items-center justify-center;
	}
}
